
<h3>All the students</h3>
<p> <% for student in @students %>
<p>First name : <%=student.first_name%></p>
<p>Last name : <%=student.last_name%></p>
<p>Age : <%=student.age%></p>
<p>House : <%=student.house.name()%></p>
<p><img src="<%=student.house.image_url %>" height=400></p>
<hr/>
<%end%>
</p>
